@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat';
    overflow: hidden;
    background-color: gray;
}
.h-100 {
    padding-top: 1px;
    background-image: url(images/bg-image.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-family: 'Alkatra';
}
.container a img {
    margin-right: 50px;
    margin-left: 50px;
    position: relative;
    right: 110px;
    width: 90px;
    height: 90px;
}
.container ul li a:hover {
    font-family: 'Alkatra';
    font-weight: 500;
    color: white;
    display: flex;
}
.navbar {
    list-style-type: none;
    text-align: right;
    left: 90px;
}
.navbar ul li a {
    transition: all 0.3s ease 0s;
}
.navbar .nav .nav-item a:hover {
    color: black;
    background: antiquewhite;
}
.navbar .nav .nav-item .nav-link {
    color: black;
    font-family: 'Alkatra';
    margin-bottom: 11px;
    font-size: 13px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
.center {
    margin-top: 43px;
    position: absolute;
    left: 33%;
    border: 2px solid white;
    margin: 0, 50px, 30px, 50px;
    padding: 0 30px 0 30px;
    height: 64%;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px lightblue;
}
.center h1 {
    margin-top: 15px;
    font-family: 'Alkatra';
    text-align: center;
}
form {
    width: 100%;
}
form .text-field {
    padding: 0;
    margin: 0;
}
.text-field label {
    font-family:  'Alkatra';
}
.text-field input[type=text], .text-field input[type=password] {
    margin: 5px;
    padding: 5px;
    outline: none;
    border-radius: 30px;
    border: none;
}
.text-field input[type=text]:focus, .text-field input[type=password]:focus {
    margin: 5px;
    padding: 5px;
    outline: none;
    border-radius: 30px;
    border: none;
}
button {
   text-align: center;
   padding: 10px 10px;
   border: none;
   background-color: white;
   margin-top: 5px;
   width: 100px;
   display: inline-block;
   text-decoration: none;
   border-radius: 50px;
   position: relative;
   left: 110px;
}
button a {
    font-family: 'Montserrat';
    color: black;
}
button a:hover {
    color: black;
    text-decoration: none;
    transition-delay: 0.3s;
}