@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li a {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
}
body {
    background-image: url(images/bg-image.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.h-100 { 
    padding-top: 1px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-family: 'Alkatra';
}
.container a img {
    margin-right: 50px;
    margin-left: 50px;
    position: relative;
    right: 120px;
    width: 150px;
    height: 150px;
}
.container ul li a:hover {
    font-family: 'Alkatra';
    font-weight: 500;
    color: white;
    display: flex;
}
.navbar {
    list-style-type: none;
    text-align: right;
    position: relative;
    left: 90px;
}
.navbar ul li a {
    transition: all 0.3s ease 0s;
}
.navbar .nav .nav-item a:hover {
    color: black;
    background: antiquewhite;
}
.navbar .nav .nav-item .nav-link {
    color: black;
    font-family: 'Alkatra';
    margin-bottom: 11px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 20px;
    padding-left: 20px;
}
.wrapper .text-box img {
    border-radius: 50px;
    width: 800px;
    height: 1100px;
    margin-left: 160px;
    margin-top: 50px;
    position: relative;
    left: 9em;
}
.video {
    margin-top: 30px;
}
.video video {
    position: relative;
    left: 25em;
    outline: none;
}
.text-box {
    color: #000000;
}
.text-box h1 {
    font-family: 'Alkatra';
    font-size: 40px;
    padding-top: 9px;
    text-align:center; 
}
.text-box p {
    margin-right: 6%;
    font-family: 'Montserrat';
    margin-left: 120px;
    margin-right: 120px;
    text-align: justify;
    font-size: 20px
}
.section-info {
    text-align: center;
}
.section-information {
    color: #000000;
    margin-top: 100px;
    font-family: 'Alkatra';
}
.section-info .section-information h1 {
    font-size: 50px;
}
.square-left {
    margin-top: 5%;
    text-align: left;
    color: #000000;
}
.square-left h1 {
    text-align: left;
    margin-left: 65%;
    font-family: 'Alkatra';
    padding-top: 6%;
}
.square-left img {
    float: left;
    border-top-left-radius: 90px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 30px;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 10px;
    width: 600px;
    height: 500px;
    text-align: justify;
}
.text-box-2 {
    color: #000000;
}
.text-box-2 h1 {
    font-family: 'Alkatra';
    font-size: 50px;
    padding-top: 8%;
    text-align: center;
    margin-right: 185px;
}
.text-box-2 p {
    margin-right: 100px;
    margin-left: 100px;
    font-family: 'Montserrat';
    text-align: justify;
    font-size: 20px;
}
.square-right {
    text-align: right;
    color: #000000;
    margin-top: 20%;
}
.square-right img {
    float: right;
    border-top-left-radius: 90px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 30px;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 10px;
    width: 600px;
    height: 500px;
    text-align: justify;
}
.text-box-3 {
    color: #000000;
}
.text-box-3 h1 {
    font-family: 'Alkatra';
    font-size: 50px;
    padding-top: 10%;   
    margin-left: 100px;
    text-align: center;
}
.text-box-3 p {
    margin-right: 100px;
    font-family: 'Montserrat';
    margin-left: 100px;
    text-align: justify;
    font-size: 20px;
}
.square-left-1 {
    margin-top: 15%;
    text-align: left;
    color: #000000;
}
.square-left-1 img {
    float: left;
    border-top-left-radius: 90px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 30px;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 10px;
    width: 600px;
    height: 500px;
    text-align: justify;
}
.text-box-4 {
    color: #000000;
}
.text-box-4 h1 {
    font-family: 'Alkatra';
    font-size: 50px;
    padding-top: 9%;
    margin-left: 62%;
}
.text-box-4 p {
    margin-right: 100px;
    font-family: 'Montserrat';
    text-align: justify;
    font-size: 20px;
}
.square-right-1 {
    text-align: right;
    color: #000000;
    margin-top: 20%;
}
.square-right-1 img {
    float: right;
    border-top-left-radius: 90px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 30px;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 10px;
    width: 600px;
    height: 500px;
    text-align: justify;
}
.text-box-5 {
    color: #000000;
}
.text-box-5 h1 {
    font-family: 'Alkatra';
    font-size: 50px;
    padding-top: 10%;
    text-align: center;
}
.text-box-5 p {
    font-family: 'Montserrat';
    margin-left: 100px;
    text-align: justify;
    font-size: 20px;
}
.square-left-2 {
    text-align: left;
    margin-top: 20%;
    color: #000000;
}
.square-left-2 img {
    float: left;
    border-top-left-radius: 90px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 30px;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 10px;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 10px;
    width: 600px;
    height: 500px;
    text-align: justify;
}
.text-box-6 {
    color: #000000;
}
.text-box-6 h1 {
    font-family: 'Alkatra';
    font-size: 50px;
    padding-top: 8%;
    margin-left: 64%
}
.text-box-6 p {
    margin-right: 100px;
    font-family: 'Montserrat';
    margin-left: 50px;
    text-align: justify;
    font-size: 20px;
}
.card-footer {
    margin-top: 20em;
    border: none;
    width: 100%;
    min-height: 435px;
    background-color: gray;
    display: block;
}
.card-footer .footer-container  {
    justify-content: space-between;
    align-items: center;
}
.card-footer .footer-container .row {
    flex-direction: row;
}
.footer-col {
    display: flex;
}
.footer-col a img{
    position: relative;
    width: 200px;
    height: 200px;
    top: 10px;
    left: 50px;
}
.list-group {
    list-style: none;
}
.footer-col .list-group {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 156px;
    right: 220px;
}
.footer-col .list-group .list-menu img  {
    width: 40px;
    height: 40px;
    margin-left: 50px;
    margin-right: 10px;
    position: relative;
    left: 10px;
    top: 20px;
}
.footer-menu-row {
    display: block;
}
.footer-menu-row .menu-row {
    list-style-type: none;
}